@model AboutViewModel


<section id="about" class="about">
    <div class="section-heading text-center">
        <h2>hakkımda</h2>
    </div>

    <div class="container">
        <div class="about-content">
            <div class="row">
                @if (Model?.AboutModel is not null)
                {
                    <div class="col-sm-6">
                        <div class="single-about-txt">

                            @if (!string.IsNullOrWhiteSpace(Model.AboutModel.Title))
                            {
                                <h3>@Model.AboutModel.Title</h3>
                            }
                            @if (!string.IsNullOrWhiteSpace(Model.AboutModel.Description))
                            {
                                <p>@Model.AboutModel.Description</p>
                            }
                            <div class="row">
                                @if (Model?.ContactInfoDtoModel != null)
                                {
                                    @if (!string.IsNullOrWhiteSpace(Model.ContactInfoDtoModel.PhoneNumber))
                                    {
                                        <div class="col-sm-4">
                                            <div class="single-about-add-info">
                                                <h3>phone</h3>
                                                <p>@Model.ContactInfoDtoModel.PhoneNumber</p>
                                            </div>
                                        </div>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(Model.ContactInfoDtoModel.Email))
                                    {
                                        <div class="col-sm-4">
                                            <div class="single-about-add-info">
                                                <h3>email</h3>
                                                <p>
                                                    <a href="mailto:@Model.ContactInfoDtoModel.Email">
                                                        @Model.ContactInfoDtoModel.Email
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(Model.ContactInfoDtoModel.WebSite))
                                    {
                                        <div class="col-sm-4">
                                            <div class="single-about-add-info">
                                                <h3>website</h3>
                                                <p>
                                                    <a href="@Model.ContactInfoDtoModel.WebSite" target="_blank">
                                                        @Model.ContactInfoDtoModel.WebSite
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-offset-1 col-sm-5">
                        <div class="single-about-img">

                            @if ((Model!.AboutModel.ImagePath != null))
                            {
                                <img src="@Model!.AboutModel.ImagePath" alt="profile_image" />
                                @if (Model.SocialMediaAccountModels!.Any())
                                {
                                    <div class="about-list-icon">
                                        <ul>
                                            @foreach (var item in Model.SocialMediaAccountModels!)
                                            {
                                                if (!string.IsNullOrWhiteSpace(item.Url) &&
                                                !string.IsNullOrWhiteSpace(item.IconCode))
                                                {
                                                    <li>
                                                        <a href="@item.Url" target="_blank">
                                                            <i class="@item.IconCode" aria-hidden="true"></i>
                                                        </a>
                                                    </li>

                                                }
                                            }
                                        </ul>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
