@using MyPortfolio.Application.Features.Queries.WelcomeAreaQueries.GetSingleWelcomeArea
@model GetSingleWelcomeAreaQueryResponse

@if (Model.WelcomeAreaDto is not null)
{
    <section id="welcome-hero" class="welcome-hero" style="background-image:url('@Model.WelcomeAreaDto.ImagePath');">

        <div class="welcome-overlay"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="header-text">
                        <h2>@Model.WelcomeAreaDto.TopHeading</h2>
                        <p>@Model.WelcomeAreaDto.SubHeading</p>
                        @if (@Model.WelcomeAreaDto.CvUrl is not null)
                        {
                            <a href="@Model.WelcomeAreaDto.CvUrl" download>Download Resume</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
}
